[genuitec-file-id="wc1-13"],[genuitec-lp-path="/Blog/WebRoot/css/sort.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

@CHARSET "UTF-8";

.sort_name{
	margin-top:15px;
	margin-bottom:15px;
	text-align:left;
	margin-left:20px;	
}

.visit{
	color:gray;
}
